<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body bg-light bg-gradient">
          <h5 class="card-title">Ask Gemini AI</h5>
          <div class="mb-3">
            <label for="prompt" class="form-label">Prompt</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="prompt"
              (keyup.enter)="getResponse()"
            />
          </div>
          <div>
            <button (click)="getResponse()" class="btn btn-primary bg-gradient" [disabled]="isLoadingDeepseek || isLoadingDeepseek">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5 justify-content-between">
    <div class="row">
      <div class="col-sm-4 mx-auto">
        <div class="card">
          <h5 class="card-header">Gemini AI Response</h5>
          <div class="card-body text-start">
            <div *ngIf="!isLoadingGemini" style="white-space: pre-wrap">
              <label class="form-label">Response</label>
              <p class="card-text">{{ aiGeminiResponse }}</p>
            </div>
            <div *ngIf="isLoadingGemini" class="spinner-border block" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 container-fluid">
        <div class="card">
          <h5 class="card-header">DeepSeek AI Response</h5>
          <div class="card-body text-start">
            <div *ngIf="!isLoadingDeepseek" style="white-space: pre-wrap">
              <label class="form-label">Response</label>
              <p class="card-text">{{ aiDeepSeekResponse }}</p>
            </div>
            <div *ngIf="isLoadingDeepseek" class="spinner-border block" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
