<!--nav class="navbar d-flex flex-row" style="background-color: #6f42c1;">-->
  <nav class="navbar navbar-expand-lg navbar-light text-light justify-content-between" style="background-color: #6f42c1;">
      <div>
      <ul class="navbar-nav mr-auto text-light">
        <li class="nav-item">
          <a class="nav-link  text-light" routerLink="/billsplitter">Bill Spillter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/ai">AI Prompt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/chat">AI Chat</a>
        </li>
        </ul>
      </div>

    <div class="btn-group justify-content-b" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="toggleDarkMode()">
        <label class="btn btn-outline-light text-light" for="btnradio1"><i class="bi-sun" style="color: black;"></i></label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="toggleDarkMode()">
        <label class="btn btn-outline-dark text-light" for="btnradio2"><i class="bi-moon" style="color: white;"></i></label>
      </div>
  </nav>