.chart-container {
    width: 40em;
    height: 40em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    justify-content: right;
    align-items: right;
    color: red;
}
canvas {
    display: block;
    color: purple;
}
