<div class="container">
  <div class="content container-fluid bootstrap">
    <div class="row row-broken">
      <div class="row d-sm-block d-md-none">
      Show only on small or xs
        <app-chat-contacts [selectedAI]="selectedAI!.aiName" (setSelectedAi)="setSelectedAi($event)" />
    </div>

      <div class="col-sm-3 col-xs-12 d-none d-md-block">
        <app-chat-contacts [selectedAI]="selectedAI!.aiName" (setSelectedAi)="setSelectedAi($event)" />
      </div>
      <div
        class="col-sm-9 col-xs-12 chat pt-4"
        style="overflow: display; outline: none"
        tabindex="5001"
      >
        <div class="col-inside-lg decor-default">
          <div id="chatBody" class="chat-body rounded v-50">
            <h6>Chat</h6>
            <div *ngFor="let message of displayMessages" class="user">
              <div
                class="answer"
                [ngClass]="{
                  left: message.userType == 'assistant',
                  right: message.userType == 'user'
                }"
              >
                <div class="avatar">
                  <img src="{{ message.userImage }}" alt="" />
                  <div class="status {{ message.userStatus }}"></div>
                </div>
                <div class="name">{{ message.userName }}</div>
                <div class="text" data-bs-html="true" [innerHTML]="message.messageDetail" style="white-space: pre-wrap;"></div>
                <div class="time">{{ message.messageTimeText }}</div>
              </div>
            </div>
            <div *ngIf="isChatLoading" class="answer" role="status">
              <div *ngIf="isChatLoading" class="spinner-grow" role="status">
                <span class="sr-only"></span>
                <span class="sr-only"></span>
                <span class="sr-only"></span>
            </div>
            </div>
          </div>
          <div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="chatPrompt" placeholder="Write a message" aria-label="Recipient's username" aria-describedby="sendMessageButton"
      (keydown.enter)="sendMessage()">
  <button class="btn btn-outline-secondary" type="button" id="sendMessageButton" (click)="sendMessage()" [disabled]="isChatLoading"><i class="bi bi-send"></i></button>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
